* {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title{
    background-color: rgb(228, 231, 232);    
}
.newContainer {
    border: 1.5px solid black;
    padding: 1em;
    margin: 50px 500px 50px 500px;
    background-color: rgb(199, 199, 211);
}
.mainContainer {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 12px;
  }
  .container {
    background-color: rgb(157, 191, 203);
    border: 1px solid black;
    padding: .5em;
    text-align: center;
    margin: 3px 3px 3px 3px;
    width: 20vw;
    height: 30vw;
  }
  .footer {
    background-color: rgb(231, 189, 134);
    padding: 2em;
    margin-top: 100px;
    height: 10vw;
  }

  @tailwind base;
  @tailwind components;
  @tailwind utilities;